.modal{
    z-index: 99;
}


.widget-settings{
    background-color: $background;
    &__wrap-desc-space{
        display: flex;
        flex-direction: column;
        padding: 31px;
        width: 655px;
    }
}

.main{
    position: relative;
    z-index: 10000 !important;
}

#root{
    width: 655px;
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 31px;
}