.feedback{
    position: relative;
    &__text{
        @include textDark;
        margin-bottom: 40px;
    }
    &__title{
        @include titleDark;
        margin-bottom: 30px;
    }
    &__selects{
        display: flex;
        justify-content: space-between;
    }
    &__inputs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
    }
    &__input-big, &__input{
        margin-bottom: 20px;
    }
    &__input-big{
        width: 100%;
        
    }
}