.market{
    &__title{
        @include titleBig;
        &:before{
            content: 'Добро пожаловать в ' ; 
            color: $text-dark;
        }
        &:after{
            content: 'маркетплейс reon';
            color: $green;
        }
    }
}