//PT Sans

@mixin textPTSans{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    line-height: normal;
}

@mixin imagesText(){
    @include textPTSans;
    color: $green;
    font-size: 10px;
    font-weight: 700;
}

@mixin labelsGrey(){
    @include textPTSans;
    color: $labels-grey;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin textDark($color){
    @include textPTSans;
    color: $color;
    font-size: 15px;
    font-weight: 400;
}


@mixin titleDark(){
    @include textPTSans;
    color: $text-dark;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

@mixin titlePTSans(){
    color: $text-dark;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin bigTitlePTSans(){
    color: $text-black;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

@mixin normalPTSans($color){
    color: $color;
    font-size: 15px;
    font-weight: 400;
}

//Inter

@mixin textInter{
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

@mixin titleBigInter(){
    @include textInter;
    font-size: 20px;
    font-weight: 800;
}

@mixin textMediumInter(){
    @include textInter;
    color: $text-dark;
    font-size: 12px;
    font-weight: 500;
}

@mixin buttonInter{
    @include textInter;
    color: $background;
    font-size: 15px;
    font-weight: 800;
}

// Montserrat

@mixin textMediumMontserrat(){
    color: $text-dark;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}